.mainBody {
  font-family: Poppins;
  margin-top:300px;
  margin-left:5%;
  margin-right:5%
}
.head-under {
  height:2px;
  background-color:red;
  margin:auto;
  margin-top:-10px;
}
.aboutElements {
  width:30%;
}
.midAboutElement {
  margin-right: 5%;
  margin-left: 5%;
}
.iconDiv {
  width:50%;
  float:left;
  margin-top:18px;
  color:skyblue;
}
.aboutElemCont {
  width:50%;
  float:right;
}

@media screen and (max-width: 600px) {
  .mainBody {
    margin-top: -100px;
  }
  .aboutElements {
    width:100%;
  }
  .midAboutElement {
    margin-left: 0%;
  }
  .iconDiv {
    width: 30%;
  }
  .aboutElemCont {
    width: 70%;
  }
  .lastAboutElement {
    margin-bottom: 100px;
  }
}
